body {
    margin: 0;
    padding: 0;
}

.card {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    //background: #000;
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(0deg);
    transition: .5s;
    backface-visibility: hidden;
}

.card>.front>img {
    width: 100%;
    height: 100%;
}

.card:hover .front {
    transform: rotateX(-180deg)
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
    transition: .5s;
    backface-visibility: hidden;
}

.card:hover .back {
    transform: rotateX(0deg);
}

.card .back .details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; //Ajusta el tamaño de la caja
}

.card .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.card .back .details h2 span {
    color: #A7A7A7;
    font-size: 16px;
}

.socialIcons {
    padding: 10px 0px;
}

.socialIcons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #f2f2f2;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}

.socialIcons a .fa {
    line-height: 36px;
}

.card .back::before {
    content: ''; //Siempre que se utiliza before o after se debe de colocar esta propiedad
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(235, 228, 228);
}